{% extends "layout.html" %}

{% block title %}
A block app 
{% endblock %}

{% block content  %}
<h1 class='text-center'>Welcome To My Blog App</h1>

<a class="btn btn-primary" href="{% url 'blog_create' %}">Create a Blog</a>
<div class="container row gap-3">
    {% for blog in blogs %}
    <div class="card" style="width: 18rem;">
        <img src="{{blog.photo.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{blog.user.username}}</h5>
          <p class="card-text">{{blog.text}}</p>
          {% if blog.user == user %}
          <a href="{% url 'blog_edit' blog.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger">Delete</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
</div>

{% endblock %}